@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.border {
    border: 3px black solid;
}

.custom-background-1 {
    background-color: blue;
    position: relative;
}

.button-1 {
    background-color: white;
    border: none;
    color: black;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
  }
  
  .button-1:hover {
    background-color: rgb(255, 215, 0);
    color: white;
  }

  h1 {
    font-size: 6vh;
    font-weight: bold;
  }

  h2 {
    font-size: 4vh;
  }

  p {
    font-size: 2vh;
  }

  hr {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
  }